{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<title>{{corresponding categories_slug categories @root.request.params.category_slug}} – SCVO</title>
{{/with ~}}
{{else}}
<title>Posts – SCVO</title>
{{/if ~}}
<description>{{{description}}}</description>
<link>https://scvo.org{{{replace (replace @root.request.params.uri.path "&_view=rss" "") "?_view=rss" ""}}}</link>