<div class="splash-image splash-image-page" style="background-image: url('{{~>asset_url url='images/home/GAT_site_header_2020_BG.svg'~}}');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <img src="{{~>asset_url url='images/home/GAT_logo_2020.svg'~}}" alt="The Gathering" class="header-text t-margin-full b-margin-full" style="max-width:550px;">
        <div class="mdc-typography--body2">
          19th &amp; 20th February / SEC, Glasgow<br />
          <a href="https://twitter.com/scvotweet" target="_blank">@scvotweet</a> / <a href="https://twitter.com/hashtag/scvogathering" target="_blank">#scvogathering</a>
        </div>
      </div>
    </div>
  </div>
</div>